<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
			org.apache.commons.fileupload.servlet.FileCleanerCleanup
		</listener-class>
  </listener>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.test.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.test.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFileProcessServlet</servlet-name>
    <servlet-class>com.test.servlet.GetFileProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFileProcessServlet</servlet-name>
    <url-pattern>/getFileProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.test.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/downLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.test.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
</web-app>